.course-container {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);

  .widthtitle {
    max-width: 200px
  }

  &:hover {
    border-color: var(--primary-color);
    transition: border-color 0.3s ease;
  }
  &.top-rated {
    background: #fff8e1;
  }
}


