<app-breadcrumbs [breadcrumb]="isNewCourse ? 'Новый курс'  : course.title"></app-breadcrumbs>
<div class="course-form">
    <h2>{{title}}</h2>
     <div class="form-group">
      <input
        id="title"
        type="text"
        [(ngModel)]="course.title"
        placeholder="Наименовние*"
      />
      </div>

    <div class="form-group">
      <textarea
        id="description"
        [(ngModel)]="course.description"
        placeholder="Описание*"
      ></textarea>
    </div>

    <div class="form-group-duration">
      <app-duration-input
        [(duration)]="course.duration"
      ></app-duration-input>
    </div>

    <div class="form-group">
      <p-calendar
        [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
        placeholder="Описание*"
        [(ngModel)]="course.creation_date"
        [showIcon]="true"
      ></p-calendar>
    </div>

    <div class="form-group">
      <app-authors></app-authors>
    </div>

    <div class="form-actions">
      <button type="button" (click)="onCancel()">Отмена</button>
      <button type="button" (click)="onSave()">Сохранить</button>
    </div>
</div>
