.double-width {
  width: 30% !important;
  min-width: 300px;
  max-width: 100%; /* Чтобы не выходила за границы контейнера */
}
.container {
  position: relative;
}
.not-found-container {
  text-align: center;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 500px;
  border: 1px solid #eee;
  border-radius: 8px;

  h2 {
    //color: #d32f2f;
    margin-bottom: 1rem;
  }

  button {
    margin-top: 1rem;
    padding: 8px 16px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
:host ::ng-deep .p-confirm-dialog {
  .p-button {
    min-width: 100px;
    margin: 0 0.5rem;
  }

  .p-button-accept {
    background: #ef4444 !important; // Красный
    border-color: #ef4444 !important;

    &:hover {
      background: #dc2626 !important; // Темнее при наведении
    }
  }

  .p-button-reject {
    background: white !important;
    color: #3b82f6 !important; // Синий текст
    border: 1px solid #3b82f6 !important;

    &:hover {
      background: #f8fafc !important; // Светлее при наведении
    }
  }
}
