<div class = "flex justify-content-between align-items-center">
  <app-search></app-search>
  <app-add-button></app-add-button>
</div>
<app-course-item *ngFor="let course of courses"
                 [course]="course"
                 (edit)="onEdit($event)"
                 (delete)="onDelete($event)">
</app-course-item>
<div class="flex justify-content-center pt-3 container">
  <button pButton
          type="button"
          label="Загрузить еще"
          class="p-button-lg  double-width"
          style="background-color: var(--surface-ground); color: grey">
  </button>
</div>
