.card {
  background-color: white;
  width: 100%;
}
::ng-deep .compact-card .p-card {
  padding: 0.5rem !important; /* Уменьшаем внутренние отступы */
}

::ng-deep .compact-card .p-card-body {
  padding: 0.5rem !important;
}

::ng-deep .compact-card .p-card-content {
  padding: 0 !important;
}
